@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/vintage';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:is(*));

@layer base {
	:root {
		--main-font: PlebisOnline;
		
		/* --gradient-colour-start: #ccfa01;
		--gradient-colour-end: #ff1900; */
		--gradient-colour-start: #ffd900;
		--gradient-colour-end: #ff0000;
		--primary-colour: #ff9100;
		--primary-colour-rgb: calc(16 * 16 + 16 * 1) calc(9 * 16 + 1 * 1) calc(0 * 16 + 0 * 1);
		--primary-glow-colour: #ff9100;
	}

	html {
		@apply h-full;
	}

	body {
		font-family: var(--main-font);
		background-attachment: fixed;
		background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(in oklab, var(--primary-colour) 10%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(in oklab, var(--primary-colour) 5%, transparent) 0px,
				transparent 30%
			);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow-x: hidden;
	}

	@font-face {
		font-family: 'PlebisOnline';
		src: url('/fonts/PlebisOnline Font.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	p,
	a,
	button,
	li {
		font-size: x-large;
		line-height: 1.1;
	}

	.btn {
		font-size: x-large !important;
		line-height: 1.5 !important;
	}

	.btn-lg {
		font-size: xx-large !important;
		line-height: 1.1 !important;
	}

	.anchor {
		font-family: var(--main-font) !important;
		font-size: x-large !important;
	}

	.h2 {
		font-family: var(--main-font) !important;
		font-size: xx-large;
		font-weight: normal !important;
	}

	.h3 {
		font-family: var(--main-font) !important;
		font-size: x-large;
		font-weight: normal !important;
	}

	.h4 {
		font-family: var(--main-font) !important;
		font-size: large;
		font-weight: normal !important;
	}
}

@utility content {
	@apply mx-auto max-w-5xl space-y-4 px-4 py-5 md:px-10;
}

@utility text-glowing {
	text-shadow: 0px 0px 12px var(--primary-glow-colour);
	@apply bg-linear-to-br from-[var(--gradient-colour-start)] from-35% to-[var(--gradient-colour-end)] to-95% box-decoration-clone bg-clip-text text-transparent!;
}

@utility logo-glowing {
	@apply drop-shadow-[0px_0px_12px_var(--primary-glow-colour)];
}

@utility clip-octagon {
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

@utility clip-octagon-4-1 {
	aspect-ratio: 4;
	--cut-x: 7.5%;
	--cut-y: calc((var(--cut-x) * 4));
	clip-path: polygon(var(--cut-x) 0%,
			calc(100% - var(--cut-x)) 0%,
			100% var(--cut-y),
			100% calc(100% - var(--cut-y)),
			calc(100% - var(--cut-x)) 100%,
			var(--cut-x) 100%,
			0% calc(100% - var(--cut-y)),
			0% var(--cut-y));
}

@utility clip-octagon-16-9 {
	aspect-ratio: 16/9;
	--cut-x: 2.5%;
	--cut-y: calc((var(--cut-x) * 16) / 9);
	clip-path: polygon(var(--cut-x) 0%,
			calc(100% - var(--cut-x)) 0%,
			100% var(--cut-y),
			100% calc(100% - var(--cut-y)),
			calc(100% - var(--cut-x)) 100%,
			var(--cut-x) 100%,
			0% calc(100% - var(--cut-y)),
			0% var(--cut-y));
}

.carousel-trigger {
	z-index: 1;
}

.fill-primary-colour {
	background-color: var(--primary-colour);
}

.switch[data-state="checked"] {
	background-color: var(--primary-colour);
	filter: drop-shadow(0 0 12px var(--primary-glow-colour));
}

.carousel-indicator {
	background-color: transparent;
	transition: all 0.2s;

	/* background-image: url('/sprites/octagon256.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;background-image: url('/sprites/octagon256.png'); */
}

.carousel-indicator[data-current] {
	/* background-color: #ff6600; */
	/* transform: scale(1.15) rotate(22.5deg); */
	transform: scale(1.15);
	transition: all 0.2s;

	/* @apply drop-shadow-[0px_0px_12px_#ff6600]; */
}

.octagon-indicator {
	/* width: 16px;
	height: 16px; */
	fill: white;
	stroke: none;
}

.carousel-indicator[data-current] .octagon-indicator {
	fill: var(--primary-colour);
	stroke: none;
	filter: drop-shadow(0 0 6px var(--primary-glow-colour));
}

.custom-list {
	list-style: none;
	padding: 0;
}

.custom-list li {
	display: flex;
	align-items: center;
	gap: 6px;
}

.bullet-point {
	width: 5px;
	height: 5px;
	transform: rotate(22.5deg);
	fill: white;
	/* filter: drop-shadow(0 0 6px var(--primary-glow-colour)); */
}
