@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/vintage';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:is(*));

@layer base {
	:root {
		--main-font: PlebisOnline, LatinMod;
	}

	html {
		@apply h-full;
	}

	body {
		font-family: var(--main-font);
		background-attachment: fixed;
		background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px,
				transparent 30%
			);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow-x: hidden;
	}

	@font-face {
		font-family: 'PlebisOnline';
		src: url('/fonts/PlebisOnline.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'LatinMod';
		src: url('/fonts/LatinMod.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	p,
	a,
	button,
	li {
		font-size: x-large;
		line-height: 1.1;
	}

	.btn {
		font-size: x-large !important;
		line-height: 1.5 !important;
	}

	.btn-lg {
		font-size: xx-large !important;
		line-height: 1.1 !important;
	}

	.anchor {
		font-family: var(--main-font) !important;
		font-size: x-large !important;
	}

	.h2 {
		font-family: var(--main-font) !important;
		font-size: xx-large;
		font-weight: normal !important;
	}

	.h3 {
		font-family: var(--main-font) !important;
		font-size: x-large;
		font-weight: normal !important;
	}

	.h4 {
		font-family: var(--main-font) !important;
		font-size: large;
		font-weight: normal !important;
	}
	
}

@utility content {
	@apply mx-auto max-w-5xl space-y-4 px-4 py-5 md:px-10;
}

@utility text-glowing {
	text-shadow: 0px 0px 12px #ff6600;
	@apply bg-linear-to-br from-[#ccfa01] from-35% to-[#ff1900] to-95% box-decoration-clone bg-clip-text text-transparent!;
}

@utility logo-glowing {
	@apply drop-shadow-[0px_0px_12px_#ff6600];
}

.clip-octagon {
  clip-path: polygon(
	30% 0%, 70% 0%,
	100% 30%, 100% 70%,
	70% 100%, 30% 100%,
	0% 70%, 0% 30%
  );
}

.clip-octagon-relative {
	aspect-ratio: 4;
	clip-path: polygon(
		7.5% 0%, 92.5% 0%,
		100% 30%, 100% 70%,
		92.5% 100%, 7.5% 100%,
		0% 70%, 0% 30%
  	);
}

.carousel-indicator {
	background-color: white;
  	transition: all 0.2s;
}

.carousel-indicator[data-current] {
	background-color: #ff6600;
	/* transform: scale(1.15) rotate(22.5deg); */
	transform: scale(1.15);
	transition: all 0.2s;
}
